@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Space Grotesk", sans-serif;
    color: theme("colors.base-content");
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  * {
    @apply border-neutral;
  }

  body {
    @apply min-h-screen bg-gradient-radial text-base-content m-0;
  }

  #root {
    @apply min-h-screen;
  }

  a {
    @apply text-base-content no-underline;
  }

  button {
    @apply font-sans;
  }
}
